<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fardo.modules.system.area.mapper.SysAreaFdMapper">

<select id="getByAreaCode" resultType="com.fardo.modules.system.area.entity.SysAreaFdEntity">
    select * from sys_area_fd where area_code = #{areaCode} and deleted = '0'
    </select>
</mapper>